.item-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  margin-top: 50px;
  background-color: rgb(191, 188, 188);
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.scrollable-container {
  width: 100%;
  overflow-y: auto;
}

.grid-container {
  justify-content: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.products-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.products-box img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.products-box__title {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
  color: #000;
}

.products-box__cat {
  font-size: 1rem;
  color: #888;
}

.card-actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-audio {
  width: 100%;
  margin-top: 10px;
}

.modal-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.item-list-container {
  display: flex;
}

.scrollable-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 320px;
  padding: 20px;
}

.grid-container {
  justify-content: center;
}

.grid-item {
  margin-bottom: 20px;
}

.card-media {
  cursor: pointer;
  object-fit: cover;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.modal-image {
  width: 100%;
  height: auto;
}

.modal-title {
  margin-bottom: 20px;
}

.modal-description {
  margin-bottom: 20px;
}

.modal-audio {
  width: 100%;
  margin-bottom: 20px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}
